@page {
    size: a5;
}

html, body {
    margin: 0;
    font-size: 12pt;
    direction: ltr;
}

body {
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;

    /* Show the items in reverse, earliest to latest */
    display: flex;
    flex-direction: column-reverse;
}

.entry {
    border-top: solid;
    border-bottom: solid;
    border-width: 1pt;
    border-color: gray;
    padding: 5pt;

    page-break-inside: avoid;

    height: fit-content;
    width: 100%;
}

/* Every other item has the picture on the left, and padding between picture and text swapped accordingly */
.entry:nth-of-type(2n+1) .imageContain {
    float: left;
    margin-left: 10pt;
    margin-right: 20pt;
}

.title {
    font-size: 18pt;
    margin: 10pt;
}

.text {
    margin: 10pt;
}

.imageContain {
    margin: 10pt;
    margin-left: 20pt;
    
    float: right;
}

img {
    min-height: 100pt;
    min-width: 100pt;
    max-width: 150pt;
    max-height: 150pt;
    border-radius: 3pt;
    border-style: solid;
    border-color: black;
    border-width: 1pt;
    box-shadow: 3pt 3pt #0002;
}

.date, .clear {
    display: none;
}
